.wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  padding: 10px 20px;
}

.wrapper .btn{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.accordion {
  width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
} 

.item {
  border-bottom: 1px solid #ddd;

}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content{
  background-color: #f9f9f9;
  padding: 10px 20px;
  color: #333333;
}
